@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.map-container{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.wrapper {
  position: relative;
}

.search-bar-container {
  /* position: absolute;
  top: 0;
  left: 0; */
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.combobox {
  width: 100%;
  padding: 0.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
}

.combobox {
  width: 100%;
  padding: 0.5rem;
}

.search-button {
  width: 20%;
  padding: 0.5rem;
  background: #000;
  color: #fff;
}

.add-button {
  width: 100%;
  padding: 0.5rem;
  background: #0ab196ce;
  color: #fff;
}

.save-button {
  position: absolute;
  top: 2.5rem;
  left: 17rem;
  z-index: 1;
  padding: 0.5rem;
  background: #000;
  color: #fff;
}

.pin-label {
  z-index:1;
}

.info-window-container {
  background-color: aquamarine;
}

.trip-table-container {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-bottom: -1rem;
}

.search-box-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.trip-entry {
  background: #daddddce;
  color: black;
}