@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.map-container{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.wrapper {
  position: relative;
}

.search-bar-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Add this line to make elements appear in a column */
  align-items: flex-start; /* Add this line to align elements to the left */
}

.search-bar {
  display: flex;
  align-items: center;
}

.combobox {
  width: 100%;
  padding: 0.5rem;
}

.search-button {
  width: 20%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: #000;
  color: #fff;
}