@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* set1 */
  /* --background-one: #FED9B7;
  --background-two: #F07167;
  --background-three: #00AFB9;
  --background-four: #0081A7;
  --background-five: #FDFCDC; */

  /* set2 */
  /* --background-one: #003566;
  --background-two: #001D3D;
  --background-three: #000814;
  --background-four: #FFC300;
  --background-five: #FFD60A; */

  /* set3 */
  --background-one: #f7f2e5;
  --background-two: #ae8e7e;
  --background-three: #60a5fa;
  --background-three-hover: #3b82f6;
}

/* dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  min-height: 100%;
}