
.info-window-container {
    background-color: white;
    min-width: 250px;
    z-index: 2;
}

.info-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-row > button {
    width: 50%;
    padding: 0.5rem;
    flex: 1;
}

.consider-button {
    background: rgb(203, 174, 28);
    color: #fff;
}

.decided-button {
    background: rgb(49, 209, 191);
    color: white;
}

.open-hours {
    display: flex;
    flex-direction: row;
    align-items: center;
}