.wrapper {
    display: flex;
    height: 100vh;
}



.map {
    height: 100vh;
    width:95%;
    margin-right: 0;
    margin-left: auto;
}

.map-container{
    height: 100vh;
    width: 100%;
}

.pin-label {
    z-index: 1;
}

.opt-route-button-container {
    position: absolute;
    bottom: 8rem;
    right: 0.5rem;
}

.opt-route-button {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opt-route-button:hover + .opt-route-text {
    display: inline-block;
}

.opt-route-button:hover {
/* opacity: 0.8; */
    background: rgb(166, 189, 197);
}

.opt-route-text {
    position: absolute; /* Position the text absolutely */
    right: 60px; /* Adjust the distance from the button as needed */
    top: 6.5px;
    display: none;
    white-space: nowrap;
}

.rec-button-container {
    position: absolute;
    bottom: 12rem;
    right: 0.5rem;
}

.rec-button {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rec-button:hover + .rec-text {
    display: inline-block;  
}

.rec-button:hover {
/* opacity: 0.8; */
    background: rgb(166, 189, 197);
}

.rec-text {
    position: absolute; /* Position the text absolutely */
    right: 60px; /* Adjust the distance from the button as needed */
    top: 6.5px;
    display: none;
    white-space: nowrap;
}



