.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.search-add-button {
    width: 20%;
    padding: 0.5rem;
    margin-left: 0.25rem;
    background: #000;
    color: #fff;
}

