.sidebar {
    width: 5%;
    height: 100%;
    padding: 1rem;
    background: var(--background-one);
    transition: left 0.3s ease-in-out;
    z-index: 10;
    position: fixed;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.sidebar.open {
    width: 30%;
}

.sidebar-item:last-child {
    margin-top: auto;
}