.trip-entry {
    background: #daddddce;
    border: 1px solid grey;
    border-radius: 2px;
    display: inline-flex;
    white-space: pre-wrap;
    width: 100%;
}

.trip-entry-text {
    padding: 0.4rem;
    color: black;
}

.trip-entry-button {
    padding: 0.4rem;
    margin-left: auto;
    justify-content: center;
}