.trip-table-container {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: -1rem;
    overflow: visible;
}

.save-button {
    z-index: 1;
    margin-left: 1rem;
    background-color: var(--background-three);
    color: white;
}

.save-button:hover {
    background-color: var(--background-three-hover);
}

.build-button {
    z-index: 1;
    background-color: var(--background-three);
    color: #fff;
    margin-left: 0.5rem;
}

.build-button:hover {
    background-color: var(--background-three-hover);
}

.trip-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trip-info {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.toggle-polyline-button {
    z-index: 1;
    padding: 0.5rem;
    background: #000;
    color: #fff;
    margin-left: auto;
}

.trip-link {
    color: var(--background-three);
}

.trip-link:hover {
    text-decoration: underline;
    color: var(--background-three-hover);
}
